@import "../colors/colors";
@import "../fonts/fonts";
* {
  color: $primary-text-color;
}

main {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

#chosen-planet {
  max-width: 600px;
  min-height: 500px;
  margin: 0 auto;
  @media (max-width: 768px) {
    text-align: center;
    min-height: 26px;
    margin-bottom: 26px;
  }
  h1 {
    color: $primary-text-color;
    font-family: $barlow-condensed;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    font-weight: 400;
    @media (max-width: 426px) {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      text-transform: uppercase;
    }
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 3.375px;
      text-align: left;
    }
    span {
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.25;
      font-family: $barlow-condensed;
      margin-right: 28px;
    }
  }

  img {
    margin-top: 97px;
    margin-left: 50px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
    @media (max-width: 426px) {
      width: 170px;
      height: 170px;
      margin-top: 32px;
    }
  }
}

#choose-destination {
  max-width: 445px;
  @media (max-width: 768px) {
    margin: 0 auto;
  }
  ul {
    display: flex;
    gap: 35px;
    margin-bottom: 37px;
    @media (max-width: 768px) {
      justify-content: center;
    }
    li {
      cursor: pointer;
      font-family: $barlow-condensed;
      line-height: 19px;
      letter-spacing: 2.700000047683716px;
      text-align: left;
      color: #d0d6f9;
      padding-bottom: 12px;
      &.active {
        border-bottom: 3px solid $primary-text-color;
      }

      &:hover {
        border-bottom: 3px solid $primary-text-color;
      }
    }
  }
  h1 {
    margin-bottom: 14px;
    font-family: $Bellefair;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    @media (max-width: 426px) {
      font-size: 56px;
      line-height: 64px;
      text-align: center;
    }
    @media (max-width: 768px) {
      font-size: 80px;
      line-height: 92px;
      text-align: center;
    }
  }

  p.planet-info {
    font-family: $barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(208, 214, 249, 1);
    border-bottom: 1px solid #383b4b;
    padding-bottom: 54px;
    margin-bottom: 28px;
    @media (max-width: 426px) {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      padding-bottom: 32px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
    }
  }
}

#travel-info-footer {
  display: flex;
  gap: 5rem;
  @media (max-width: 425px) {
    flex-direction: column;
    gap: 2rem;
  }
  @media (max-width: 768px) {
    justify-content: center;
  }

  p {
    color: rgba(208, 214, 249, 1);
    font-family: $barlow-condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 2.362499952316284px;
    text-align: left;
    @media (max-width: 425px) {
      text-align: center;
    }
  }

  h2 {
    font-family: $Bellefair;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 12px;
    text-align: center;
  }
}
