@import "../colors/colors";

* {
  color: $primary-text-color;
  font-family: "Barlow Condensed", sans-serif;
}
nav {
  // width: 90%;
  max-width: 1440px;
  margin-top: 40px;
  margin-left: auto;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    margin-top: 0;
  }
  @media (max-width: 425px) {
    margin-top: 1rem;
  }
  #desktop-tablet-navigation {
    display: flex;
    gap: 48px;
    padding-right: 165px;
    padding-left: 123px;
    background-color: $navBgColor;
    backdrop-filter: $navBgFilter;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      width: 473px;
      background-color: $primary-text-color;
      height: 1px;
      position: absolute;
      left: -450px;
      @media (max-width: 1024px) {
        display: none;
      }
    }
    li {
      cursor: pointer;
      transition: 0.5s ease;
      &.active {
        border-bottom: 1px solid $primary-text-color;
      }
    }
    li span {
      font-weight: 700;
    }

    li:hover {
      border-bottom: 1px solid $primary-text-color;
    }

    @media (max-width: 768px) {
      padding-right: 10px;
      padding-left: 15px;
    }

    @media (max-width: 425px) {
      display: none;
    }
  }

  #mobile-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 254px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    padding-inline: 32px;
    z-index: 2;
    li span {
      font-weight: 700;
    }
  }
}

#mobile-menu-btn {
  background-color: transparent;
  position: relative;
  z-index: 99;
  margin-right: 33px;
  @media(min-width: 426px){ 
    display: none;
  }
}

.clicable-area {
  display: flex;
  align-items: center;
  min-height: 96px;
  gap: 0.5rem;
  line-height: 19px;
  letter-spacing: 2.700000047683716px;
}

.mobile-clicable-area {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
