@import "../colors/colors";
@import "../fonts/fonts";

#flex-box {
  display: flex;
  align-items: center;
  padding: 0;
  @media (max-width: 768px) {
    flex-direction: column;
    padding-inline: 24px;
  }
  @media (max-width: 426px) {
    flex-direction: column-reverse;
    padding-inline: 12px;
  }
}

#crew-info {
  max-width: 614px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

#meet-your-crew {
  margin: 76px auto 0 auto;
  max-width: 1300px;
  @media (max-width: 768px) {
    margin-bottom: 32px;
    margin-top: 24px;
    display: flex;
    order: 1;
  }
  h1 {
    color: $primary-text-color;
    font-family: $barlow-condensed;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    font-weight: 400;
    // margin-left: 166px;
    @media (max-width: 426px) {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      margin: 0 auto;
    }
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 3.375px;
    }
    span {
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.25;
      font-family: $barlow-condensed;
      margin-right: 16px;
    }
  }
}

#crew-member {
  @media (max-width: 426px) {
    text-align: center;
  }
  h1 {
    font-family: $Bellefair;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 15px;

    @media (max-width: 426px) {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 8px;
    }
  }

  h2 {
    font-family: $Bellefair;
    font-size: 56px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 27px;
    @media (max-width: 426px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  p {
    font-family: $barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #d0d6f9;
    margin-bottom: 120px;
    @media (max-width: 426px) {
      font-size: 15px;
      line-height: 25px;
    }
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

#profile-picture {
  @media (max-width: 426px) {
    width: 100%;
    margin-bottom: 32px;
    text-align: center;
    border-bottom: 1px solid #383b4b;
  }
  img {
    max-width: 100%;
    @media (max-width: 426px) {
      margin: 0 auto;
      width: 177.12px;
      height: 222px;
    }
  }
}

#change-crewmate {
  @media (max-width: 768px) {
    text-align: center;
    margin-bottom: 40px;
  }
}

.btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.17;
  margin-right: 24px;
  transition: 0.5s ease;
  cursor: pointer;
  &:hover {
    background-color: #ffffff;
    opacity: 1;
  }

  &.active {
    background-color: #ffffff;
    opacity: 1;
    transform: scale(1.1);
  }
  @media (max-width: 426px) {
    width: 10px;
    height: 10px;
  }
}
