@import "../colors/colors";
@import "../fonts/fonts";

main {
  width: 100%;
  @media (max-width: 768px) {
    padding-inline: 0;
  }
}

#flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  max-width: 1300px;
  gap: 2rem;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

#tech-title {
  h1 {
    color: $primary-text-color;
    font-family: $barlow-condensed;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
    @media (max-width: 426px) {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      text-align: center;
    }
    span {
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.25;
      font-family: $barlow-condensed;
      margin-right: 28px;
      @media (max-width: 426px) {
        margin-right: 16px;
      }
    }
  }
}

#space-launch {
  max-width: 630px;
}

#select-travel-info {
  display: flex;
  gap: 80px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 32px;
  button {
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: transparent;
    font-family: $Bellefair;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 2px;
    text-align: center;
    color: $primary-text-color;
    transition: 0.5s ease;
    &:hover {
      background-color: $primary-text-color;
      color: black;
    }

    &.active {
      background-color: $primary-text-color;
      color: black;
    }
    @media (max-width: 426px) {
      width: 40px;
      height: 40px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  @media (max-width: 768px) {
    flex-direction: row;
    margin: 0 auto;
  }
}

.text-content {
  @media(max-width: 768px){
    padding-inline: 1rem;
  }
  span {
    font-family: $barlow-condensed;
    color: rgba(208, 214, 249, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2.700000047683716px;
    text-align: left;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 2.3625px;
      display: block;
      text-align: center;
    }
  }
  h2 {
    font-family: $Bellefair;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
    color: $primary-text-color;
    margin-bottom: 14px;
    margin-top: 11px;
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
  }

  p {
    font-family: $barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(208, 214, 249, 1);
    @media (max-width: 768px) {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }
  }
}

#img {
  order: 1;
  img {
    max-width: 100%;
  }
  @media (max-width: 768px) {
    margin-bottom: 34px;
  }
}
