*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
}


body{
    min-height: 100vh;
    transition: background-image 2s ease-in-out;
    animation-delay: 1s;
    background-color: black;
}

main{
    margin:  76px auto 0 auto;
    max-width: 1200px;
    padding-bottom: 5rem;
    padding-inline: 3rem;
}