*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
}


body{
    min-height: 100vh;
}